#brand_logo{
  width:130px;
}

.header{
  height:70px;
}

.sidenav{
  height:80vh;
  overflow-y:auto;
}

.topdeal{
  height:auto;
  line-height:14px;
}

.topdeal img{
  height:100px;
}

.footer{
  height:280px;
}

.footer ul{
  list-style-type: none;
  display:flex;
  justify-content: center;

}

.footer ul li{
  padding: 0 20px;
}

.footer ul a{
  text-decoration: none;
  color:white;
}

@media only screen and (max-width:426px){
  .topdeal{
    height: auto;
  }
}