#brand_logo{
  width:130px;
}

.header{
  height:70px;
}

.sidenav{
  height:80vh;
  overflow-y:auto;
}

.topdeal{
  height:120px;
  line-height:14px;
}

.topdeal img{
  height:100%
}

@media only screen and (max-width:426px){
  .topdeal{
    height: auto;
  }
}